<h1>Welcome User</h1>
<p>You can Access this application with your access</p>

<table>
	<thead>
		<tr>
			<th>Access Name</th>
			<th>Access Pages</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Doctor</td>
			<td>Preciption</td>
		</tr>
		<tr>
			<td>Staff</td>
			<td>Token, Application</td>
		</tr>
	</tbody>
</table>
