/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 input[type="submit"] {
 	background-color: peru;
    padding: 8px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid orange;
    cursor: pointer;
    color: ghostwhite;
    font-weight: bold;
    font-family: cursive;
 }

 .input_madatory {
 	color: red;
    font-size: 18px;
    top: 6px;
    position: relative;
    left: 4px;
 }

 input[readonly="readonly"] {
 	cursor: not-allowed;
    background-color: silver;
 }

 #flash_alert {
 	color: red;
 	font-weight: bold;
 }

 #flash_notice {
 	color: green;
 	font-weight: bold;
 }

