// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	width: 778px;
    margin: 0 auto;
    padding: 0;
    background-color: #FFF8DC;
    .nav-header {
		float: right;
	}
	h1, h1.page-heading {
		text-align: left;
		font-size: 20px;
		color: #707F67;
	}
	h1.main-heading {
		text-align: center;
		color: #D2691E;
		font-weight: bold;
		font-size: 30px;
		font-family: monospace;
	}
	table {
		tbody {
			tr {
				td {
					text-align: center;
				}
			}
		}
	}
	
}


